<!-- Banner -->
<%- partial('_partial/banner.ejs', {
    mainText: page.title || __('default_post_title'),
    icon: page.icon || theme.default_post_icon || '🧙'
}) %>

<!-- Content -->
<div class="w-100 ph2 ph4-m ph5-l mv5">
    <div class="content">
        <div class="mw8 center">
            <div class="cf">
                <div class="fl w-100 mw7 left lh-copy pr4-ns pr0-m post-content">

                    <!-- Main Post Content -->
                    <%- page.content %>

                    <% if (page.date) { %>
                        <div class="pt3">
                            <span class="ec pr2">🕗</span><%- page.date.format(config.date_format) %>
                        </div>
                    <% } %>
                    <!-- Tags Bottom -->
                    <% if (page.tags && page.tags.length) {
                        var tags = [];
                    %>
                        <div class="pt3">
                            <span class="ec ec-mono pr2">🔖</span>
                            <% page.tags.forEach(function(tag) { %>
                                <a class="mr3" href="<%- config.root + tag.path %>">#<%- tag.name %></a>
                            <% }); %>
                        </div>
                    <% } %>

                    <!-- Comments -->
                    <%- partial('_partial/comments.ejs') %>
                </div>
            </div>
        </div>
    </div>
</div>
