<div class="relative-l mb2">
    <a href="<%- url_for(item.path) %>">
        <div class="dt w-100 hover-border-main-color pointer pa3 b--white bl mv4-l">
            <div class="dtc v-mid w-90 black-70">
                <% if(item.date) { %>
                    <div class="f5 fw3 lh-copy pr4"><%= item.date.format(config.date_format) %></div> 
                <% } %>
                <span class="f3 fw3 lh-copy"><%- item.title || __('default_post_title') %></span>
            </div>
            <div class="v-mid w-10 dtc f2 f1-ns black-70 tc">
                <span class="ec"><%- item.icon || theme.default_post_icon || '🧙' %></span>
            </div>
        </div>
    </a>
    <div class="absolute-l top-1 left-1 ml2 ml6-l mr5-l">
        <% if (item.tags && item.tags.length) {
            var tags = [];
            item.tags.forEach(function(tag) {
                tags.push('<a class="fw3 ph1 dib glow o-80" href="' + config.root + tag.path + '">#' + tag.name + '</a>');
            });
        %>
        <%- tags.join(' ') %>
        <% } %>
    </div>
</div>